<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css"> {% seo %}
</head>

<body>
  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="{{ site.github.repository_url }}">View GitHub Repo</a>

      <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

    </header>
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
      <ul>
        <li>
          <a href="{{ site.baseurl }}/index.html">Introduction</a>
          <ul>
            <li>
              <a href="{{ site.baseurl }}/index.html#features">Features</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/index.html#usage">Usage</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/index.html#third-party-libraries">Third-Party Libraries</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ site.baseurl }}/build.html">Build</a>
          <ul>
            <li>
              <a href="{{ site.baseurl }}/build.html#cmake-build">CMake Build</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/build.html#example-project">Example Project</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ site.baseurl }}/requests.html">HTTP Requests</a>
          <ul>
            <li>
              <a href="{{ site.baseurl }}/requests.html#response-object">Response Object</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/requests.html#synchronous-requests">Synchronous Requests</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/requests.html#asynchronous-requests">Asynchronous Requests</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ site.baseurl }}/options.html">Options</a>
          <ul>
            <li>
              <a href="{{ site.baseurl }}/options.html#option-types">Option Types</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ site.baseurl }}/session.html">Session</a>
        </li>
      </ul>

      {{ content }}
    </section>
  </div>

  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
    </footer>
  </div>
</body>
</html>